body {
	background: pink;
}

/*кнопка*/

.popup-open {
	display: inline-block;
	padding: 15px 20px;
	background: #000;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 44%;
	left: 50%;
	margin-left: -76px;
	border-radius: 10px;
}
.popup-open-new{
	display: inline-block;
	padding: 15px 20px;
	background: #000;
	font-size: 16px;
	text-decoration: none;
	color: #fafafa;
	position: absolute;
	top: 54%;
	left: 50%;
	margin-left: -76px;
	border-radius: 10px;
}

/*Действие открытия*/

.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup-fade-new {
	display: none;
}
.popup-fade-new:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9998;
}




/*Открытый попап*/

.popup {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}

.popup-new {
	position: fixed;
	top: 60%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}

.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
}